<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="velir:getthisip" type="Sitecore.SharedSource.InstantPackager.Utils.CustomSitecore.Commands.DownloadItemPackage, Sitecore.SharedSource.InstantPackage" />
			<command name="velir:getip" type="Sitecore.SharedSource.InstantPackager.Utils.CustomSitecore.Commands.GetPackage, Sitecore.SharedSource.InstantPackage" />
			<command name="velir:addtoip" type="Sitecore.SharedSource.InstantPackager.Utils.CustomSitecore.Commands.AddItem, Sitecore.SharedSource.InstantPackage" />
			<command name="velir:removefromip" type="Sitecore.SharedSource.InstantPackager.Utils.CustomSitecore.Commands.RemoveItem, Sitecore.SharedSource.InstantPackage" />
			<command name="velir:addsubtoip" type="Sitecore.SharedSource.InstantPackager.Utils.CustomSitecore.Commands.AddSubItems, Sitecore.SharedSource.InstantPackage" />
			<command name="velir:removesubfromip" type="Sitecore.SharedSource.InstantPackager.Utils.CustomSitecore.Commands.RemoveSubItems, Sitecore.SharedSource.InstantPackage" />
			<command name="velir:clearip" type="Sitecore.SharedSource.InstantPackager.Utils.CustomSitecore.Commands.Clear, Sitecore.SharedSource.InstantPackage" />
			<!-- <command name="velir:saveip" type="Sitecore.SharedSource.InstantPackager.Utils.CustomSitecore.Commands.Save, Sitecore.SharedSource.InstantPackage" /> -->
			<!-- <command name="velir:loadip" type="Sitecore.SharedSource.InstantPackager.Utils.CustomSitecore.Commands.Load, Sitecore.SharedSource.InstantPackage" /> -->
		</commands>
	</sitecore>
</configuration>
