<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="velir:getthisip" type="Velir.SitecoreLibrary.Modules.InstantPackager.CustomSitecore.Commands.DownloadItemPackage, Velir.SitecoreLibrary.Modules.InstantPackager" />
			<command name="velir:getip" type="Velir.SitecoreLibrary.Modules.InstantPackager.CustomSitecore.Commands.GetPackage, Velir.SitecoreLibrary.Modules.InstantPackager" />
			<command name="velir:addtoip" type="Velir.SitecoreLibrary.Modules.InstantPackager.CustomSitecore.Commands.AddItem, Velir.SitecoreLibrary.Modules.InstantPackager" />
			<command name="velir:removefromip" type="Velir.SitecoreLibrary.Modules.InstantPackager.CustomSitecore.Commands.RemoveItem, Velir.SitecoreLibrary.Modules.InstantPackager" />
			<command name="velir:addsubtoip" type="Velir.SitecoreLibrary.Modules.InstantPackager.CustomSitecore.Commands.AddSubItems, Velir.SitecoreLibrary.Modules.InstantPackager" />
			<command name="velir:removesubfromip" type="Velir.SitecoreLibrary.Modules.InstantPackager.CustomSitecore.Commands.RemoveSubItems, Velir.SitecoreLibrary.Modules.InstantPackager" />
			<command name="velir:addrelatedtoip" type="Velir.SitecoreLibrary.Modules.InstantPackager.CustomSitecore.Commands.AddRelatedItems, Velir.SitecoreLibrary.Modules.InstantPackager" />
			<command name="velir:removerelatedfromip" type="Velir.SitecoreLibrary.Modules.InstantPackager.CustomSitecore.Commands.RemoveRelatedItems, Velir.SitecoreLibrary.Modules.InstantPackager" />
			<command name="velir:clearip" type="Velir.SitecoreLibrary.Modules.InstantPackager.CustomSitecore.Commands.Clear, Velir.SitecoreLibrary.Modules.InstantPackager" />
			<command name="velir:viewip" type="Velir.SitecoreLibrary.Modules.InstantPackager.CustomSitecore.Commands.View, Velir.SitecoreLibrary.Modules.InstantPackager" />
			<!-- <command name="velir:saveip" type="Velir.SitecoreLibrary.Modules.InstantPackager.CustomSitecore.Commands.Save, Velir.SitecoreLibrary.Modules.InstantPackager" /> -->
			<!-- <command name="velir:loadip" type="Velir.SitecoreLibrary.Modules.InstantPackager.CustomSitecore.Commands.Load, Velir.SitecoreLibrary.Modules.InstantPackager" /> -->
		</commands>
		<controlSources>
			<!-- This allows the instant package management list to be picked up by Sitecore as registered Xaml applications -->
			<source mode="on" namespace="Sitecore.Web.UI.XmlControls" folder="/sitecore modules/shell/instantpackage" deep="false"/>
		</controlSources>
	</sitecore>
</configuration>
